<a href="https://colab.research.google.com/github/HERMINDERSINGH1234/AlertDailog/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# introduction to pandas library......

In [0]:
import numpy as np

In [0]:
import pandas as pd

In [0]:
labels =['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [4]:
labels

['a', 'b', 'c']

In [5]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_data,index= labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [13]:
 pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [0]:
ser1= pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [15]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [0]:
ser2=pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [18]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [21]:
ser1['USA']

1

In [22]:
ser1[1]

2

In [0]:
ser3=pd.Series(data=labels)

In [25]:
ser3

0    a
1    b
2    c
dtype: object

In [26]:
ser3[0]

'a'

In [27]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [0]:
# DATA FRAME _________________________________________________________________PART 1

In [0]:
import numpy as np
import pandas as pd

In [0]:
from numpy.random import randn

In [0]:
np.random.seed(101)

In [0]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [33]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [35]:
type(df['W'])

pandas.core.series.Series

In [36]:
type(df)

pandas.core.frame.DataFrame

In [37]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [38]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [0]:
# for the making of the new column..
df['new'] =df['W']+df['Y']

In [41]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [0]:
# For the removing column we can say df.drop   .......

In [0]:
df.drop('new',axis=1,inplace=True)

In [45]:
# by putting the inplace= true the new column is parmanently removed ... by this ...
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [52]:
# for the column the axis =1....
# for the rows the axis=0...
# by using the inplace= true ... it is parmanently removed...
# by using the inplace =false it is the temporary deleted ....
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [53]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [0]:
df.drop('E',axis=0,inplace=True)

In [55]:
# there is no need to write the axis=0 it is bydefault...
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [56]:
df.shape

(4, 4)

In [57]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [59]:
# Method for the selcting rows ...
#Method for the selecting the columns...
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872

In [0]:
# the Method for the selecting the column...

In [0]:
# there are the two method to use to select the rows...1...===loc
#

In [60]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [61]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [62]:
df.loc['B','Y']

-0.8480769834036315

In [63]:
df.iloc[1,2]

-0.8480769834036315

In [69]:
df.loc[ ['A','B' ],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077